*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: palevioletred;
}

.button{
    width: 10rem;
    height: 2.5rem;
    position: absolute;
    cursor: pointer;
    border-radius: 7px;
    outline: none;
    border: 0;
}

#contain{
    margin-top: 120px;
    /* text-align: left; */
}


section{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: rgb(80, 62, 68);
    color: aliceblue;
}
.container1{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(15, 14, 15);
}
.btn{
    background-color: rgb(20, 20, 223);
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(44, 44, 126);
}
.popover {
    /* display: none; */
    z-index: 1;
    
}
.popover.active{
    display: block;
}